<div class="title-container mt-2 mx-5 px-5">
    <h1 id="title">Web Scraper</h1>
    <h4 id="instructions">Behold! Articles scraped from the internet for your viewing pleasure! Reads more about articles by clicking the title below. Add notes as you please!</h2>
</div>
<div id="notes" class="notes-container container hidden p-2"></div>
<div id="articles" class="articles-container mt-2 mx-5">
    <a id="refresh" class="d-flex"><i class="fas fa-sync noteBtn pt-2 pl-2 ml-auto fa-2x"></i></a>
</div>
