<nav class="title-container my-0 p-3">
    <h1 id="title">Web Scraper</h1>
    <p id="instructions">Behold! Articles scraped from the internet for your viewing pleasure! Reads more about articles by clicking the title below. Add notes as you please!</p>
</nav>

<div id="articles" class="container articles-container mt-2">
    <a id="refresh" class="d-flex"><i class="fas fa-sync noteBtn pt-2 pl-2 ml-auto fa-2x"></i></a>
</div>
<div id="notes" class="notes-container container hidden p-2"></div>
